# System files
*~
.*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logging
logs/
*.log

# Environments
.env
.env_test
.env_dev
.venv
.vscode/
env/
venv/
ENV/
env.bak/
venv.bak/

# Don't ignore
## Samples
!.env.example

## VSC
!.gitattributes
!.gitignore
!.gitkeep
!.dockerignore